Flask>=2.2.0
Werkzeug>=2.2.0
Flask-CORS==3.0.10
gunicorn==20.1.0

# Transformers 和 Tokenizer
transformers==4.44.2
tokenizers==0.19.0

# PyTorch 和 Torchvision
torch
torchvision

# 使用最新的 TensorFlow，內建 GPU 支援
tensorflow==2.13.0

# 安裝與 Transformers 相容的 tf-keras
tf-keras  # 用於與 Transformers 兼容的 Keras 版本

# 如果需要使用 CUDA 和 TensorRT 加速，增加如下
nvidia-tensorrt  # TensorRT 庫（可選）


